@using PicsWebApp.Models.Database;

<div class="container" style="display:flex;flex-direction:column;align-items:center">
    <form method="post" action="/api/user/auth" style="display:flex;flex-direction: column;">
        <div class="form-group">
            <label for="login">Логин</label>
            <input name="login" class="form-control" placeholder="Введите логин">
        </div>

        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" name="password" class="form-control" placeholder="Введите пароль">
        </div>

        <button type="submit" class="btn btn-primary" style="margin-top:15px">Войти</button>
    </form>
</div>